.App {
  width:70%;
  margin:auto;
  margin-top:25vw;
  text-align:center;
  border:1px solid black;
}
table{
  width:100%;
  border-collapse:separate;
}
td{
  width:25%;
  padding:1vw; 
}
input[type=submit]{
  cursor:pointer;
}

